{
  "plugins": ["stylelint-scss"],
  "rules": {
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-no-missing-interpolation": true,
    "scss/no-duplicate-dollar-variables": true,
    "property-no-unknown": true,
    "unit-no-unknown": true,
    "no-extra-semicolons": true,
    "no-descending-specificity": true,
    "shorthand-property-no-redundant-values": true
  }
}
